.txt-sec1 {
    background-color:#fdfbe9 ;
    padding: 25px;
}

.txt-sec2 {
    background-color:#246068 ;
    color: white;
    padding: 25px;
}
.p {
    font-weight: bold;
}
.bannerimg {
    height:auto;
}
